# Python
**.pyc
*~
**/__pycache__/

# Env
.env
myvenv/
env/
venv/



# Static folder at project root
vendor/
assets/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace