<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'Jobsair_id/assets/images/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Jobsair{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Jobsair_id/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'Jobsair_id/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'Jobsair_id/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Jobsair_id/assets/css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><h2>Jobsair <em>.ID</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Jobs</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About us</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'blog_list' %}">Blog</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>

                <li class="nav-item dropdown">
                  {% if user.is_authenticated %}
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
                      
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'login' %}">Account</a>
                    <a class="dropdown-item" href="{% url 'terms' %}">Terms</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    
                  </div>
                  {% else %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                      
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                      <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                      <a class="dropdown-item" href="{% url 'terms' %}">Terms</a>
                    </div>
                  {% endif %}
                </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 JOBSAIR.ID</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'Jobsair_id/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Jobsair_id/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'Jobsair_id/assets/js/custom.js' %}"></script>
    <script src="{% static 'Jobsair_id/assets/js/owl.js' %}"></script>
  </body>
</html>
