{% extends 'Jobsair_id/base.html' %}
{% load static %}

<!-- Page Content -->
{% block content %}
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=1 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-1-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=2 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-2-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=3 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-3-1920x600.png' %}" alt=""></a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <br>
    <div class="col-md-12">
      <div class="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-11">
              
              <h4><input type="text" class="form-control" placeholder="Cari Lowongan, Perusahaan, atau Lokasi" aria-label="Cari Lowongan, Perusahaan, atau Lokasi" aria-describedby="basic-addon2"></h4>
           
            </div>
  
            <div class="col-1">
              <button class="filled-button" type="button">Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Latest Jobs</h2>
            <a href="{% url 'post_list' %}">view more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
    {% for post in posts %}
        <div class="col-md-4">
          <div class="product-item">
          
            <div class="down-content">
              <a href="{% url 'post_detail' pk=post.pk %}"><h4>{{ post.title }}</h4></a>
              <h6><small>Rp {{ post.salary }}</small></h6>
              <h4>
                <small><a href="{% url 'job_category' post.category %}">
                <i class="fa fa-briefcase"></i> {{ post.category }} </a>
                <br>
                <strong><i class="fa fa-building"></i> {{ post.company }}</strong></small>
              </h4>
              <small>
                   <strong title="Posted on"><i class="fa fa-calendar"></i> {{ post.published_date | date:'d F Y'}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                   <strong title="Type"><i class="fa fa-file"></i> Contract</strong> <br>
                   <strong title="Location"><i class="fa fa-map-marker"></i> {{ post.address }}</strong>
              </small>
            </div>
          </div>
        </div>
    {% endfor %}


    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p><a href="{% url 'index' %}">Jobsair.id</a> Merupakan website yang bertujuan membantu para pencari kerja untuk dengan mudah menemukan kesempatan mereka didunia pekerjaan, dibantu dengan fitur pencarian, para pencari kerja dapat menemukan segala jenis bidang pekerjaan, tingkat/jabatan, dan lain –lain. Selain para pencari kerja, pihak perusahaan juga dapat memposting lowongan pekerjaan yang mereka butuhkan sesuai kriteria yang diinginkan.  Sehingga para pencari kerja dapat menemukan pekerjaan sesuai bidangnya dan pihak perusahaan dapat menemukan tenaga kerja sesuai kriteria yang sedang dibutuhkan. 
              </p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
              </ul>
              <a href="{% url 'about_us' %}" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'Jobsair_id/assets/images/about-1-570x350.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services" style="background-image: url({% static 'Jobsair_id/assets/images/other-image-fullscren-1-1920x900.jpg' %});" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest blog posts</h2>

              <a href="{% url 'blog_list' %}">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          {% for blog in blogs %}
              <div class="col-lg-4 col-md-6">
                <div class="service-item">
                  <a href="{% url 'blog_detail' pk=blog.pk %}" class="services-item-image"><img src="{% static 'Jobsair_id/assets/images/blog-1-370x270.jpg' %}" class="img-fluid" alt=""></a>
    
                  <div class="down-content">
                    <h4><a href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.title }}</a></h4>
    
                    <p style="margin: 0;">  {{ blog.author }} <br>{{ blog.published_date | date:'d F Y - H:i e'}} &nbsp;&nbsp;|&nbsp;&nbsp; {{ blog.views }}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Happy Clients</h2>

              <a href="testimonials.html">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="{% url 'contact_us' %}" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}