{% extends 'Jobsair_id/base.html' %}
{% load static %}

{% block title %} | Jobs{% endblock %}

<!-- Page Content -->
{% block content %}
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=1 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-1-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=2 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-2-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=3 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-3-1920x600.png' %}" alt=""></a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <br>
    <div class="container">
      {% if user.is_authenticated %}
          <div class="contact-form">
            <div class="form-group">
              <form action="{% url 'post_new' %}">
                <button type="submit" class="filled-button btn-block">Create New Job Post</button>
              </form>
            </div>
          </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          {% for post in posts %}
            <div class="col-md-4">
              <div class="product-item">
                <div class="down-content">
                  <a href="{% url 'post_detail' pk=post.pk %}"><h4>{{ post.title }}</h4></a>

                  <h6><small>Rp {{ post.salary }}</small></h6>

                  <h4>
                    <small><a href="{% url 'job_category' post.category %}">
                    <i class="fa fa-briefcase"></i> {{ post.category }} </a>
                    <br>
                    <strong><i class="fa fa-building"></i> {{ post.company }}</strong></small>
                  </h4>

                  <small>
                       <strong title="Posted on"><i class="fa fa-calendar"></i> {{ post.published_date | date:'d F Y' }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                       <strong title="Type"><i class="fa fa-file"></i> Contract</strong>
                       <br>
                       <strong title="Location"><i class="fa fa-map-marker"></i> {{ post.address|truncatechars:30 }}</strong>
                  </small>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}