{% extends 'Jobsair_id/base.html' %}
{% load static %}

{% block title %} | Jobs{% endblock %}

{% block content %}
    <div class="page-heading contact-heading header-text" style="background-image: url({% static 'Jobsair_id/assets/images/heading-4-1920x500.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>{{ post.company }}</h4>
              <h2>{{ state }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <div class="container">
      <div class="contact-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="filled-button btn-block">Publish</button>
        </form>
      </div>
    </div>
{% endblock %}