{% extends 'Jobsair_id/base.html' %}
{% load static %}

{% block title %} | Jobs{% endblock %}

<!-- Page Content -->
{% block content %}
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            
            <img src="{% static 'Jobsair_id/assets/images/job.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=5 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-2-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=1 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-1-1920x600.png' %}" alt=""></a>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <a href="{% url 'post_detail' pk=6 %}"><img src="{% static 'Jobsair_id/assets/images/slider-image-3-1920x600.png' %}" alt=""></a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <br>
    <div class="col-md-12">
      <div class="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-11">
              
              <h4><input type="text" class="form-control" placeholder="Cari Lowongan, Perusahaan, atau Lokasi" aria-label="Cari Lowongan, Perusahaan, atau Lokasi" aria-describedby="basic-addon2"></h4>
           
            </div>
  
            <div class="col-1">
              <button class="filled-button" type="button">Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      {% if user.is_authenticated %}
          <div class="contact-form">
            <div class="form-group">
              <form action="{% url 'post_new' %}">
                <button type="submit" class="filled-button btn-block">Create New Job Post</button>
              </form>
            </div>
          </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          {% for post in page %}
            <div class="col-md-4">
              <div class="product-item">
                <div class="down-content">
                  <a href="{% url 'post_detail' pk=post.pk %}"><h4>{{ post.title }}</h4></a>

                  <h6><small>Rp {{ post.salary }}</small></h6>

                  <h4>
                    <small><a href="{% url 'job_category' post.category %}">
                    <i class="fa fa-briefcase"></i> {{ post.category }} </a>
                    <br>
                    <strong><i class="fa fa-building"></i> {{ post.company }}</strong></small>
                  </h4>

                  <small>
                       <strong title="Posted on"><i class="fa fa-calendar"></i> {{ post.published_date | date:'d F Y' }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                       <strong title="Type"><i class="fa fa-file"></i> Contract</strong>
                       <br>
                       <strong title="Location"><i class="fa fa-map-marker"></i> {{ post.address|truncatechars:30 }}</strong>
                  </small>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="col-md-12">
            {% if page.paginator.num_pages > 1 %}
              <ul class="pages">
                {% if page.has_previous %}
                  <li><a href="?page=1">First</a></li>
                  <li><a href="?page={{ page.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                {% endif %}
                {% for i in page.paginator.page_range %}
                  {% if page.number == i %}
                    <li class="active"><a href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                  {% elif page.number > i|add:"-3" and page.number < i|add:"+3"%}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page.has_next %}
                <li><a href="?page={{ page.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                <li><a href="?page={{ page.paginator.num_pages }}">Last</a></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}