{% extends 'Jobsair_id/base.html' %}
{% load static %}

{% block title %} | Terms{% endblock %}

<!-- Page Content -->
{% block content %}
    <div class="page-heading about-heading header-text" style="background-image: url({% static 'Jobsair_id/assets/images/heading-5-1920x500.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Jobsair.Id</h4>
              <h2>Terms</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Terms</h2>
            </div>

            <h5>Binding Aggrement </h5>

            <p>This Jobsair.Id Website is provided to you for your use subject to these Terms. These Terms form a binding agreement between you and Jobsair.Id By accessing or using the Jobsair.Id Website you agree to accept and/or to be bound by these Terms. you agree to use the Jobsair.Id Website at your own risk.</p>

            <br>
            <br>

            <h5>Registration</h5>

            <p>To register on the Jobsair.Id Website you must be 15 years of age or above.
              <br>You must ensure that the details provided by you on registration or at any time are correct and complete.
              <br>You must inform us immediately of any changes to the information that you provided when registering by updating your personal details in order that we can communicate with you effectively.</p>
            
            <br>
            <br>

            <h5>Password and security</h5>

            <p>When you register to use the JobStreet.com Website you will be asked to create a password. In order to prevent fraud, you must keep this password confidential and must not disclose it or share it with anyone. If you know or suspect that someone else knows your password you should notify us by contacting us here immediately.</p>
        
            <br>
            <br>

            <h5>Additional Terms applicable to Employers</h5>

            <p>Jobsair.Id hereby grants you a limited, terminable, non-exclusive right to access and use Jobsair.Id Website for your internal business use seeking candidates for employment. This authorizes you to view and download a single copy of Jobsair.Id Content or materials on Jobsair.Id Website solely for your use directly related to searching for and recruiting Candidates.</p>

          </div>
        </div>
      </div>
    </div>
{% endblock %}